* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    z-index: 500;
}
:root{
    /*---Colors--*/
    --clr--farmer:#E0ff4f;
    --clr--villagers:#a51080;
}
/*--EXERCISE CSS--*/
/*--Find the attribute to display a small text box when hovering over links, like this:--*/
a {
    /*--Make relative so Tooltip can position relative to link--*/
    position: relative;
}
/*--Create ToolTip--*/
a:before {
    /*--Add Tooltip content--*/
    content: attr(data-hover);
    /*--Add Z-Index to hover over other element--*/
    z-index: 501;
    /*--Position absolute so it doesn't interfere with other elements--*/
    position: absolute;

    /*--Design little box for tooltip--*/
    background-color: white;
    border-radius: 5px;
    border-style: dashed;
    border-color: black;
    border-width: 1px;
    padding: .25rem;
    width: 110%;
    /*--Position tool tip under link in the left hand corner--*/
    top: 105%;
    left: 0%;
    /*--hide the box by default--*/
    opacity: 0;
    visibility: hidden;
    /*--Add Transition--*/
    transition: opacity .8s ease-in;

}
/*--Trigger tooltip visibilty on hover--*/
a:hover:before{
    /*--Change visibilty of tooltip on link hover--*/
    visibility: visible;
    opacity: 1;
}
/*--EXERCISE--*/
/*--Give body max width of 90%
    Center body by using Margin
    Add background image to body
    Make sure image does not repeat itself
    Change image positioning to bottom right
    Change it's size to cover
    --*/
body{
    /*--Max width--*/
    max-width: 90%;
    /*--Center with margins--*/
    margin: 0 auto;
    /*--Add background image--*/
    background-image: url(./assets/images/background.jpg);
    /*--Disable repeat--*/
    background-repeat: no-repeat;
    /*--Position on bottom right--*/
    background-position: right bottom;
    /*--Change size to cover--*/
    background-size: cover;
}
/*--EXERCISE--*/
/*--Using only the tag as a selector, italicize all quotations.
Identify the quotes of the villagers and the farmer by assigning each a corresponding class.
Change the color of the quotes according to the person speaking.--*/
q,blockquote{
    /*--Make all Quotations italic--*/
    font-style: italic;
}
q.farmer{
    /*--Assign color to farmer--*/
    color: var(--clr--farmer);
}
q.neighbours{
    /*--Assign color to villagers--*/
    color: var(--clr--villagers);
}
/*--EXERCISE--*/
/*-Select an element of the header and gives it a yellow background (use the child selector)
-*/
header > h1{
    background-color: yellow;
}
/*--Exercise--*/
/*--Capitalize all instances of the words "good" and "bad".
Put the words "Bad" in red
Put the words "Good" in green
Style the table so that the background color of each row is alternating grey or white
Put the first paragraph in bold--*/
em.good,em.bad{
    /*--Capitalise all instances of the words good and bad--*/
    text-transform: uppercase;
}
em.bad{
    /*--Put the words bad in red--*/
    color: red;
}
em.good{
    /*--Put the words Good in green--*/
    color: green;
}

tr:nth-child(even){
    /*--Alternate each row grey/white - All even rows grey--*/
    background-color: grey;
}
tr:nth-child(odd){
        /*--Alternate each row grey/white - All odd rows white--*/
    background-color: white;
}
p:first-of-type{
    /*--Put the first paragraph in bold--*/
    font-weight: bold;
}
img{
    /*--Float image and distance from text--*/
    width: 40%;
    margin: 5%;
    float: right;
}
html{
    /*--Change Font of the document to Open Sans--*/
    font-family: 'OpenSans',cursive;
}