/*--Global--*/
*{
    /*--Resets--*/
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
/*--THEME--*/
    /*--FONTS--*/
    --ff--Opensans:'OpenSans',serif;
    --ff--OpensansItalic:'OpenSansItalic',serif;

    /*--Colors--*/
    --clr-txt--base:#495159;
    --clr-primary:orange;
    --clr-secondary:yellow;


    --clr-txt--good:green;
    --clr-txt--bad:red;
    --clr-txt--maybe:orange;
}
html,body{
    /*--Basic easy to read size--*/ 
    font-size: 1rem;
    /*--Dark text color, not black--*/
    color: var(--clr-txt--base);
    /*--Add background color--*/
    background-color: var(--clr--pink);
    

}
/*---Text Styling--*/
p{
        /*--Add Open sans font with serif fallback--*/
        font-family: var(--ff--Opensans);
        /*--Add Spacing between letters to imporve font readability--*/
        letter-spacing: .01rem;
}
.good{
    font-style: normal;
    color: var(--clr-txt--good);
}
.bad{
    font-style: normal;
color: var(--clr-txt--bad);
}
.maybe{
    font-style: normal;
    color: var(--clr-txt--maybe);    
}
/*--Make quotes stand out from paragraphs--*/
q{
    font-style: italic;
}
q em{
    /*Make all em in quotes italic anyway*/
    
    font-style: italic!important;
}